<footer class="footer">
  <div class="container">
    <div class="footer-tab">
      <div>
        <a href="../index.html" class="footer-logo-link">
          <svg class="footer-logo-link" width="132px" height="24px">
            <use href="../img/icon-sprite.svg#icon-your-energy-1"></use>
          </svg>
        </a>

        <ul class="social">
          <li class="footer-li">
            <a href="https://www.facebook.com/goITclub/" target="_blank">
              <svg class="footer-icons" width="" height="">
                <use href="./img/icon-sprite.svg#facebook" fill=""></use>
              </svg>
            </a>
          </li>
          <li class="footer-li">
            <a href="https://www.instagram.com/goitclub/" target="_blank">
              <svg class="footer-icons" width="" height="">
                <use href="./img/icon-sprite.svg#instagram" fill=""></use>
              </svg>
            </a>
          </li>
          <li class="footer-li">
            <a href="https://www.youtube.com/c/GoIT" target="_blank">
              <svg class="footer-icons" width="" height="" fill="">
                <use href="./img/icon-sprite.svg#youtube" fill=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-tab-right">
        <h2 class="footer-h2">
          Transforming your <span class="footer-text">body</span> shape with us
        </h2>
        <form class="footer-form">
          <h3 class="footer-h3">Subscribe and learn about new exercises!</h3>
          <input
            type="text"
            class="footer-input"
            placeholder="Email"
            name="email"
            id="mailto"
          />
          <button type="submit" class="footer-buttom">Send</button>
        </form>
      </div>
    </div>
    <div class="footer-div">
      <p class="footer-p">Your Energy. All rights reserved.</p>
      <div class="div-footer">
        <p class="footer-p1">
          Privacy Policy <span class="footer-slash">/</span> Terms of Service
        </p>
        <p class="footer-p2">©2023</p>
      </div>
    </div>
  </div>
</footer>
