<header class="header-top">
  <div class="container header-container">

    <!-- logo -->

    <a href="../index.html" class="logo-link">
      <svg class="header-logo" width="132px" height="14px">
        <use href="../img/icon-sprite.svg#icon-your-energy-1"></use>
      </svg>
    </a>

    <!-- navigation -->

    <nav class="nav-header">
      <ul class="nav-list">
        <li class="nav-item active">     
          <a href="../index.html" class="nav-link link">Home</a>
        </li>
        <li class="nav-item">
          <a href="../favourites.html" class="nav-link link">Favorites</a>
        </li>
      </ul>
    </nav>

    <!-- social -->

    <ul class="nav-social">
      <li class="nav-icon">
        <a class="nav-soc-link" href="https://www.facebook.com/goITclub/">
          <svg class="nav-icon-social" width="28px" height="28px">
            <use href="../img/icon-sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="nav-icon">
        <a class="nav-soc-link" href="https://www.instagram.com/goitclub/">
          <svg class="nav-icon-social" width="28px" height="28px">
            <use href="../img/icon-sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="nav-icon">
        <a class="nav-soc-link" href="https://www.youtube.com/c/GoIT">
          <svg class="nav-icon-social" width="28px" height="28px">
            <use href="../img/icon-sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- durger -->

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu">
      <svg class="header-burger is-hidden-burger" width="32px" height="32px">
        <use href="../img/icon-sprite.svg#align-justify"></use>
      </svg>
    </button>
  </div>
</header>

<!-- mobil-menu -->

<div class="mob-menu js-menu-container is-hidden-mobile" id="mobile-menu">
  <button class="mob-menu-close js-close-menu is-hidden-close-burg">
    <svg class="icon-close">
      <use href="../img/icon-sprite.svg#x"></use>
    </svg>
  </button>

  <!-- mob-nav -->

  <div class="mobil-list">
    <ul class="mobile-menu">
      <li class="mob-item">
        <a class="mob-link" href="../index.html">Home</a>
      </li>
      <li class="mob-item">
        <a class="mob-link" href="../favourites.html">Favorites</a>
      </li>
    </ul>

    <!-- mob-social -->

    <ul class="mob-social">
      <li class="mob-icon">
        <a href="https://www.facebook.com/goITclub/">
          <svg class="mob-social-icon" width="28px" height="28px">
            <use href="../img/icon-sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icon">
        <a href="https://www.instagram.com/goitclub/">
          <svg class="mob-social-icon" width="28px" height="28px">
            <use href="../img/icon-sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icon">
        <a href="https://www.youtube.com/c/GoIT">
          <svg class="mob-social-icon" width="28px" height="28px">
            <use href="../img/icon-sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

<script scr="../js/header.js"></script>
