<header class="header-top fixed-header">
  <div id="overlay" class="overlay"></div>
  <div class="container header-container">

    <!-- logo -->

    <a href="./index.html" class="logo-link">
      <svg class="header-logo" width="132px" height="14px">
        <use href="./img/icon-sprite.svg#icon-your-energy-1"></use>
      </svg>
    </a>

    <!-- navigation -->

    <nav class="nav-header">
      <ul class="nav-list">
        <li class="nav-item active">
          <a href="./index.html" class="nav-link link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./favourites.html" class="nav-link link">Favorites</a>
        </li>
      </ul>
    </nav>

    <!-- social -->

    <ul class="nav-social">
      <li class="nav-icon">
        <a
          class="nav-soc-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener nofollow noreferer"
        >
          <svg width="28px" height="28px">
            <use href="./img/icon-sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="nav-icon">
        <a
          class="nav-soc-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener nofollow noreferer"
        >
          <svg width="28px" height="28px">
            <use href="./img/icon-sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="nav-icon">
        <a
          class="nav-soc-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener nofollow noreferer"
        >
          <svg width="28px" height="28px">
            <use href="./img/icon-sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- durger -->
    
    <div class="header-btn">
      <button
        type="button"
        class="menu-toggle js-open-menu hide-header"
        aria-expanded="false"
      >
        <svg class="header-burger" width="32px" height="32px">
          <use href="./img/icon-sprite.svg#align-justify"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!--------------------- mobile-menu ---------------->

<div class="mob-menu js-menu-container">
  <button class="mob-menu-close js-close-menu">
    <svg class="icon-close">
      <use href="./img/icon-sprite.svg#x"></use>
    </svg>
  </button>

  <!-- mob-nav -->

  <div class="mobil-list">
    <ul class="mobile-menu">
      <li class="mob-item">
        <a class="mob-link" href="./index.html">Home</a>
      </li>
      <li class="mob-item">
        <a class="mob-link" href="./favourites.html">Favorites</a>
      </li>
    </ul>

    <!-- mob-social -->

    <ul class="mob-social">
      <li class="mob-icon">
        <a
          class="soc-icon-mobil"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener nofollow noreferer"
        >
          <svg class="mob-social-icon" width="28px" height="28px">
            <use href="./img/icon-sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icon">
        <a
          class="soc-icon-mobil"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener nofollow noreferer"
        >
          <svg class="mob-social-icon" width="28px" height="28px">
            <use href="./img/icon-sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icon">
        <a
          class="soc-icon-mobil"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener nofollow noreferer"
        >
          <svg class="mob-social-icon" width="28px" height="28px">
            <use href="./img/icon-sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
