<header class="header">
  <div class="container header-container">
   <nav class="nav-header">
      <a href="../index.html" class="logo-link">YUOR ENERGY</a>
      <ul class="nav-list">
          <li class="nav-item">
            <a href="./page-2.html" class="nav-link link">Home</a>
          </li>

          <li class="nav-item">
           <a href="./page-3.html" class="nav-link link">Favorites</a>
          </li>
      </ul>
      <ul class="nav-social">
        <li class="nav-icon">
          <a href="https://www.facebook.com/goITclub/">
            <svg class="nav-social" width="28px" height="28px">
              <use href="прописать посылание на свг"></use>
            </svg>
          </a>
        </li>
        <li class="nav-icon">
          <a href="https://www.instagram.com/goitclub/">
            <svg class="nav-social" width="28px" height="28px">
              <use href="прописать посылание на свг"></use>
            </svg>
          </a>
        </li>
        <li class="nav-icon">
          <a href="https://www.youtube.com/c/GoIT">
            <svg class="nav-social" width="28px" height="28px">
              <use href="прописать посылание на свг"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mob-menu-open js-open-menu">
      <svg width="32px" height="32px">
        <use href="прописать посылание на свг"></use>
      </svg>
    </button>
    <button type="button" class="modal-btn" data-modal-open>
      <svg class="modal-menu" width="20px" height="20px">
        <use href="прописать посылание на свг"></use>
      </svg>
    </button>
  </div>
</header>
