<!-- Hero -->
<section class="hero">
<div class="container">    
    <h1 class="container__title">
        <div class="container">
            <svg class="hero__icon" width="38" height="38">
                <use href="../img/icon-sprite.svg#30"></use>
                <!-- <path d="M18.0702 16.5998L19 16.426L19.9298 16.5998L20.7341 17.0978L21.3042 17.8527L21.563 18.7625L21.4758 19.7044L21.0541 20.5512L20.355 21.1885L19.473 21.5302H18.527L17.645 21.1885L16.9459 20.5512L16.5242 19.7044L16.437 18.7625L16.6958 17.8527L17.2659 17.0978L18.0702 16.5998Z" stroke="#242424" stroke-width="4"/> -->
            </svg>
            Get <span class="container__title-accent">Body</span> in shape, Stay healthy</h1>
    <p class="container__text">Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.</p>
    <picture>
        <source
          srcset="
          ../img/image1_mob@1x.jpg,
          ../img/image1_mob@2x.jpg
          "
          media="(max-width: 767px)"
        />
    
      </picture> 
</section>
</div>
<!-- </section>
<picture>
    <source
      srcset="
        ./images/about/cow_mobile.png             1x,
        ./images/about/about@2x/cow_mobile@2x.png 2x
      "
      type="image/png"
      media="(max-width: 767px)"
    />

    <source
      srcset="
        ./images/about/cow_tablet.png             1x,
        ./images/about/about@2x/cow_tablet@2x.png 2x
      "
      type="image/png"
      media="(min-width: 768px) and (max-width: 1199px)"
    />

    <source
      srcset="
        ./images/about/cow_desktop.png             1x,
        ./images/about/about@2x/cow_desktop@2x.png 2x
      "
      type="image/png"
      media="(min-width: 1200px)"
    />
    <img
      class="wrapper-img"
      src="./images/about/cow_desktop.png"
      alt="cow"
    />
  </picture> -->