
<!-- Hero -->
<section class="hero"> 
 <div class="hero-container container">
     
    <h1 class="container__title">
            <svg class="hero__icon" width="38" height="38">
                <use href="../img/icon-sprite.svg#30"></use>
            </svg>            
            Get <span class="container__title-accent">Body</span> in shape, Stay healthy</h1>

    <p class="container__text">Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.</p>
      <picture class="working-out-outdoors">
          <source srcset="./img/image3_desc@1x_.webp 1x, ./img/image3_desc@2x_.webp 2x"
              media="(min-width: 1280px)" />
          <source srcset="./img/image1_tab@1x_.webp 1x, ./img/image1_tab@2x_.webp 2x"
              media="(min-width: 768px)" />
          <source srcset="./img/image1_mob@1x_.webp 1x, ./img/image1_mob@2x_.webp 2x"
              media="(max-width: 767px)" />
          <img src="./img/image1_desc@1x_.webp" alt="working out outdoors" width="1394" height=""
              class="working-out-outdoors-img" />
      </picture> 
      <div class="tags">
        <ul class="tags__list">
          <li class="tags__list-item">#Sport</li>
          <li class="tags__list-item">#Healthy</li>
          <li class="tags__list-item">#Workout</li>
          <li class="tags__list-item">#Diet</li>
        </ul>
      </div>
 </div>
</section>

