<!-- <section class="quote-section">
    <div class="quote-box">
        <div class="qoute-run-box">
            <svg class="quote-run-icon" width="18" height="20">
                <use href="./img/icon-sprite.svg#Group"></use>
            </svg>
        </div>
        <div class="quote-icon-box">
            <svg class="qoute-item-icon" width="15" height="12">
                <use href="./img/icon-sprite.svg#inverted-commas"></use>
            </svg>
        </div>
    </div>
    <div class="quote-image-box">
        <picture class="quote-girls-picture">
            <source srcset="./img/image3_desc@1x_.webp 1x, ./img/image3_desc@2x_.webp 2x" media="(min-width: 1280px)" />
            <source srcset="./img/image2_tab@1x_.webp 1x, ./img/image2_tab@2x_.webp 2x" media="(min-width: 768px)" />
            <source srcset="./img/image2_mob@1x_.webp 1x, ./img/image2_mob@2x_.webp 2x" media="(max-width: 767px)" />
            <img src="./img/image3_desc@1x_.webp" alt="girls giving five" width="444" height="242"
                class="quote-girls-img" />
        </picture>
    </div>
    <div class="recommend-box">
        <div class="recommend-icon-box">
            <svg class="recommend-item-icon" width="20" height="20">
                <use href="./img/icon-sprite.svg#fluent_food"></use>
            </svg>
        </div>
        <h2 class="recommend-title">110 min</h2>
        <p class="recommend-text">Daily norm of sports</p>
        <p class="recommend-desc">The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical
            activity throughout
            the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day?
            While it might
            seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer
            unparalleled benefits to
            physical health, mental well-being, and overall quality of life.</p>

    </div>
</section> -->