.favorites-container {
  padding: 80px 20px;
}
.favorites-title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -0.56px;
}
.favorites-img-girl {
  margin: auto;
  width: 335px;
  height: 119px;
  border-radius: 20px;
}

.favorites-img-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.favorites-box {
  display: flex;
  margin: 0 auto;
}

.favorites-box-deskription {
  max-width: 318px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  line-height: 1.28;
}
.exercise-item-trash {
  stroke: #fff;
}
.favourite-delete-button {
  border: none;
  background-color: inherit;
}

@keyframes girls {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
.cover-text {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.cover {
  overflow: hidden;
  position: relative;
}
.recommend-text-box:hover .recommend-desc {
  display: inline;
}
@media screen and (min-width: 768px) {
  .favorites-title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 1.09;
    letter-spacing: -0.88px;
  }

  .favorites-img-girl {
    width: 344px;
    height: 141px;
  }

  .favorites-box-deskription {
    max-width: 554px;
    font-size: 18px;
    line-height: 1.33;
  }

  .favorites-quote-box {
    width: 704px;
    max-height: 202px;
  }

  .favorites-day-text {
    max-width: 574px;
  }

  .quote-icon-box {
    justify-content: space-between;
  }

  .favorites-recomend-box {
    max-width: 344px;
    height: 100%;
  }

  .favorites-rec-box {
    display: flex;
    gap: 16px;
    margin-bottom: 64px;
  }

  .favorites-box-deskription {
    padding-top: 68px;
  }

  .favorites-img-box {
    margin-top: 0px;
  }

  /* .favorites-box {
  } */
}
@media screen and (min-width: 1440px) {
  .favorites-title {
    margin-top: 90px;
    margin-bottom: 44px;
  }
  .favorites-quote-box {
    width: 494px;
    max-height: 230px;
  }

  .favorites-img-girl {
    max-width: 239px;
    max-height: 141px;
    animation-name: girls;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .favorites-recomend-box {
    max-width: 239px;
  }

  .favorites-total {
    display: flex;
    gap: 32px;
  }
  .favorites-box-deskription {
    padding-top: 102px;
    line-height: 1.33;
    text-align: center;
  }
  .favorites-box {
    text-align: center;
  }
}
