.footer {
  background: #242424;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    background: #242424;
    padding-top: 64px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background: #242424;
    padding-top: 64px;
    padding-bottom: 32px;
  }
}

.footer-container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1440px;
  }
}

.footer-tab {
  display: unset;
}

@media screen and (min-width: 768px) {
  .footer-tab {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer-tab {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-logo-link {
  fill: #f4f4f4;
}

.footer-social {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-social {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    padding-top: 32px;
    padding-bottom: 114px;
  }
}

.footer-li {
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
  cursor: pointer;
  opacity: 80%;
  padding: 8px;
  /* fill: currentColor; */
}

.footer-li:hover {
  background: #f4f4f4;
  fill: #242424;
  /* opacity: 100%; */
}

.footer-li:focus {
  background: #f4f4f4;
  fill: #242424;
  /* opacity: 100%; */
}

.footer-icons {
  width: 44px;
  height: 44px;
  /* border-radius: 10px; */
  /* border: 1px solid rgba(36, 36, 36, 0.1); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-icons:hover {
  /* border: 10px;
  background: rgba(36, 36, 36, 0.8); */
  fill: #242424;
  opacity: 100%;
}

.footer-icons:focus {
  fill: #242424;
  /* background: #F4F4F4; */
  opacity: 100%;
  /* background: rgba(36, 36, 36, 0.8); */
}

@media screen and (min-width: 768px) {
  .footer-icons {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-icons {
    width: 28px;
    height: 28px;
  }
}

.footer-tab-right {
  display: unset;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer-tab-right {
    display: unset;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer-tab-right {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.footer-h2 {
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.8px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-h2 {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.12px;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-h2 {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.12px;
    margin-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.footer-text {
  color: #f4f4f4;
  /* font-family: 'Neue Montreal, italic'; */
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .footer-text {
    color: #f4f4f4;
    /* font-family: 'Neue Montreal, italic'; */
    font-size: 56px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.12px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 100px;
    gap: 20px;
  }
}

.footer-h3 {
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .footer-h3 {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.footer-input::placeholder {
  color: #f4f4f4;
}

.footer-input:focus::placeholder {
  color: transparent;
}

.footer-input:focus {
  color: #f4f4f4;
}

.footer-input:hover {
  color: #f4f4f4;
}

.footer-input {
  display: flex;
  padding: 12px 12px 14px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  background: #242424;
  color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .footer-input {
    display: flex;
    padding: 12px 12px 14px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #f4f4f4;
  }
}

.footer-button {
  color: #242424;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
}

@media screen and (min-width: 768px) {
  .footer-button {
    color: #242424;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    width: 335px;
    padding: 12px 157px 12px 157px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #f4f4f4;
  }
}

.footer-button:hover {
  background-color: #242424;
  color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .footer-button:hover {
    background-color: #242424;
    color: #f4f4f4;
  }
}

.footer-button:checked {
  background-color: #242424;
  color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .footer-button:checked {
    background-color: #242424;
    color: #f4f4f4;
  }
}

.footer-div {
  display: unset;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .footer-div {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .footer-div {
    display: flex;
    margin-top: -54px;
    /* margin-right: 40px; */
  }
}

.footer-p {
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer-p {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin: 0;
    margin-bottom: 10px;
  }
}

.div-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 95px;
}

@media screen and (min-width: 768px) {
  .div-footer {
    display: flex;
    justify-content: space-between;
    width: unset;

    white-space: nowrap;
  }
}

.footer-p1 {
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
  .footer-p1 {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-left: 90px;
    padding-right: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-p1 {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-left: 208px;
    margin-right: 310px;
  }
}

.footer-slash {
  margin-left: 4px;
  margin-right: 4px;
}

.footer-p2 {
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-left: -20px;
}

@media screen and (min-width: 768px) {
  .footer-p2 {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    justify-content: center;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-p2 {
    color: #f4f4f4;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    justify-content: center;
    margin-left: -60px;
  }
}

/* @media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
} */
