.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.galary {
  padding-top: 40px;
}
.galary-container {
  width: 100%;
  min-width: 320px;
  max-width: 335px;
  margin: 0 auto;
}

.galary-title {
  color: var(--primary-dark-color);
  margin-bottom: 20px;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.56px;
}

/* Фільтри */

.galary-filters {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
}

.galary-filters-button1,
.galary-filters-button2,
.galary-filters-button3,
.galary-filters-button4,
.galary-filters-button5,
.galary-filters-button6 {
  border: none;
  background-color: transparent;
  color: var(--primary-dark-color);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
}

.galary-filter-checked {
  position: relative;
}
.galary-filter-checked::after {
  position: absolute;
  bottom: -7px;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--primary-dark-color);
}

/* розділ з exercises, search та фільтрами
після того як натиснули на картку */

.galary-title2 {
  color: var(--primary-dark-color);
  margin-bottom: 20px;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.56px;
}
.galary-title2 span {
  color: var(--primary-dark-color);
  opacity: 50%;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.galary-search-wrapper {
  width: 335px;
  padding: 12px 14px;
  border-radius: 30px;
  border: 1px solid var(--primary-dark-color);
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
}
.galary-search {
  background-color: transparent;
  flex-grow: 1;
  border: none;
}
.galary-search:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.galary-search::placeholder {
  color: var(--primary-dark-color);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.galary-search:focus::placeholder {
  color: transparent;
}
.galary-search-svg {
  stroke: var(--primary-dark-color);
  fill: transparent;
}
.galary-filters2 {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
}
.galary-filter-checkt2 {
  position: relative;
}
.galary-filter-checkt2::after {
  position: absolute;
  bottom: -7px;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--primary-dark-color);
}
/* Картки */

.galary-list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.galary-item {
  width: 335px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );
}
.galary-item-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  position: relative;
  z-index: -1;
}
.galary-item-subtitle {
  color: var(--primary-light-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.galery-item-text {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Вправи */

.exercise-item {
  width: 335px;
  height: 140px;
  border-radius: 15px;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 16px;
}
.exercise-item-wrapper {
  width: 303px;
}
.exercise-item-firth-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.exercise-item-workout {
  color: var(--primary-dark-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 15px;
  border: 1px solid var(--primary-dark-color);
  padding: 5px 7.5px;
  margin-right: 16px;
}
.exercise-item-rating {
  color: var(--primary-dark-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-right: 2px;
}
.exercise-item-star {
  padding-bottom: 4px;
}
.exercise-item-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: var(--primary-dark-color);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  align-items: center;
  height: 18px;
  padding: 0;
  display: flex;
  align-items: center;
}
.exercise-item-button svg {
  stroke: var(--primary-dark-color);
}
.exercise-item-second-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.exercise-item-run-box {
  width: 24px;
  height: 24px;
  background-color: var(--primary-dark-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.exercise-item-run {
  fill: var(--primary-light-color);
}
.exercise-item-subtitle {
  color: var(--primary-dark-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.exercise-item-list {
  display: flex;
  gap: 9px;
  width: calc((100% - 15px) / 2);
}
.information-text:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
}
.exercise-item-list-information {
  display: flex;
}

.information-text {
  color: rgba(36, 36, 36, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
}
.information-text-span {
  color: var(--primary-dark-color);
  opacity: none;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  margin-left: 2px;
}

/* Пагінація */

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 80px;
}
.pagination-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #d4d4d4;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
}
.current-page {
  border: 1px solid var(--primary-dark-color);
  padding: 6px 12px;
  border-radius: 18px;
  color: var(--primary-dark-color);
}

/*  Media  */

@media screen and (min-width: 768px) {
  .galary {
    padding-top: 64px;
  }
  .galary-container {
    max-width: 706px;
  }
  .galary-title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.88px;
  }
  .galary-title2 {
    /* margin-bottom: 32px; */
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.88px;
  }
  .galary-filters {
    margin-bottom: 32px;
  }
  .galary-filters2 {
    margin-left: auto;
  }
  .galary-filter-checkt2::after {
    bottom: 5px;
  }
  .galary-filters-button {
    font-size: 16px;
    line-height: 24px;
  }
  .galary-searc-filters-wrapper {
    display: flex;
  }
  .galary-search-wrapper {
    width: 271px;
    margin-bottom: 32px;
    margin-top: 0;
  }
  .galary-list {
    margin-bottom: 32px;
    gap: 32px 15px;
  }
  .galary-item {
    width: 225px;
    height: 225px;
  }
  .galary-item-subtitle {
    font-size: 24px;
    line-height: 24px;
  }
  .exercise-item {
    width: 344px;
    height: 141px;
  }
  .pagination-button {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
  .current-page {
    padding: 0 12px;
  }
}

@media screen and (min-width: 1440px) {
  .galary-sidebar-wrapper {
    display: flex;
    gap: 32px;
    flex-direction: row-reverse;
  }
  .galary-container {
    /* max-width: 900px; */
    max-width: 1376px;
  }
  .galary-title-and-list-wrapper {
    display: flex;
    align-items: center;
  }
  .galary-title-and-list-wrapper-ex {
    display: flex;
    align-items: center;
  }
  .galary-title {
    flex-grow: 1;
    margin-bottom: 32px;
  }
  .galary-title2 {
    flex-grow: 1;
    margin-bottom: 0px;
  }
  .galary-filters {
    margin-left: auto;
  }
  .galary-filters2 {
    margin-left: 32px;
  }
  .galary-list {
    max-width: 900px;
    margin-left: auto;
  }
  .exercise-item-wrapper {
    width: 410px;
  }
  .galary-item {
    width: 290px;
    height: 242px;
  }
  .exercise-item {
    width: 442px;
    height: 141px;
  }

  .exercise-item-subtitle {
    max-width: 442px;
    overflow: unset;
  }
  .exercise-item-list {
    max-width: 442px;
  }
  .exercise-item-list-information {
    max-width: 442px;
  }
  .information-text {
    max-width: 200px;
  }
  .information-text:last-child {
    overflow: unset;
  }
}
