/* .header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.nav-logo {
  display: flex;
   justify-content: center;
} */

.heder-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  fill: ;
}
.nav-heder {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.nav-list {
  display: none;
}