.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background-color: var(--primary-light-color);
}

.nav-header {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.logo-link {
  gap: 170px;
  fill: var(--primary-dark-color);
}
.nav-heder {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.nav-list {
  display: none;
}

.mob-menu-open {
  /* border: none; */
  padding: 0;
  fill: var(--primary-dark-color);
  /* transform: translateX(0);
  line-height: 0; */
  width: 32px;
  height: 32px;
}

.nav-social {
  display: flex;
}