*,
:before,
:after {
  box-sizing: border-box;
}

button {
  text-transform: none;
}

.header-top {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
 
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-light-color);
  height: 52px;
  padding-left: 20px;
  padding-right: 20px;
}

.fixed-header {
  position: fixed;
  width: 100%;
  background-color: var(--primary-light-color); 
  z-index: 1;
}

.hide-header {
 padding-right: 20px;
 padding-top: 20px;
  z-index: 1;
}

.logo-link {
  display: flex;
}

.header-logo {
  fill: var(--primary-dark-color);
}

.nav-list {
  display: none;
}

.nav-social {
  display: none;
}

.header-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--primary-dark-color);
  fill: none;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------ min-width: 768px---------------- */

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .header-btn {
    display: none;
    }
    
  .mob-menu-close {
    display: none;
    margin: 0;
    padding: 0;
  }

  .mob-menu {
    display: none;
  }


  .header-container {
    padding-left: 32px;
    padding-right: 32px;
    height: 76px;
  }

  .logo-link {
    width: 132px;
    height: 24px;
  }

  .nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 233px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 60px;
    background-color: var(--primary-dark-color);
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .nav-item {
    color: var(--primary-light-color);
    background: var(--primary-dark-color);
  }

  .nav-item.active {
    padding: 6px 12px;
    border-radius: 30px;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-dark-color);
    background: var(--primary-light-color);
  }

  .nav-link {
    font-size: 16px;
    transition: color 25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* -------------------social ----------------------*/

  .nav-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }

  .nav-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-soc-link:hover {
    border: 10px;
    background: rgba(36, 36, 36, 0.8);
  }
}
.nav-icon-social {
  width: 28px;
  height: 28px;
  opacity: 80%;
  fill: currentColor;
}

.nav-icon-social:hover {
  background: none;
  fill: var(--primary-light-color);
  opacity: 100%;
}

/*  min-width: 1440px */

@media screen and (min-width: 1440px) {
  .nav-header {
    width: 265px;
  }
}
