.header-top {
  padding-top: 20px;
  margin-bottom: 80px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-link {
  display: flex;
}
.header-burger {
  stroke: var(--primary-dark-color);
}

.nav-list {
  display: none;
}

.nav-social {
  display: none;
}

/* mobil-menu */

.mob-menu-open {
  border: none;
  background-color: var(--primary-light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }
/* .mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.mob-menu {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 280px 77px 0;
  background-color: var(--primary-dark-color);
  z-index: 10;
  /* right: 0; */
  top: 0;
  overflow: scroll;
  transform: translate(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  stroke: var(--primary-light-color);
  background-color: var(--primary-dark-color);
  border: none;
}
.icon-close {
  width: 32px;
  height: 32px;
}

.mob-list {
  /* display: flex; */
  row-gap: 16px;
  flex-wrap: wrap;
}

.mob-link {
  font-size: 14px;
  color: var(--primary-light-color);
}

.mob-social {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.mob-icon {
  display: flex;
width: 28px;
height: 28px;
justify-content: center;
align-items: center;
stroke: var(--primary-light-color);
}

.mob-icon-social {
fill: var(--primary-light-color);
}

/* min-width: 768px */

@media screen and (min-width: 768px) {
  .header-burger {
    display: none;
  }

  .header-top {
    padding-top: 24px;
    margin-bottom: 100px;
  }
  .header-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .logo-link {
    width: 132px;
    height: 24px;
  }
  .nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 233px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 60px;
    background-color: var(--primary-dark-color);
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .nav-item {
    color: var(--primary-light-color);
    background: var(--primary-dark-color);
  }

  .nav-item.active {
    padding: 6px 12px;
    border-radius: 30px;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-dark-color);
    background: var(--primary-light-color);
  }

  .nav-link {
    font-size: 16px;
    transition: color 25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .nav-icon {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.1);
  }

  .nav-icon-social {
    width: 28px;
    height: 28px;
    fill: var(--primary-dark-color);
    opacity: 80%;
  }

  .nav-icon-social:hover {
    background: none;
    fill: var(--primary-light-color);
    opacity: 100%;
  }

  .nav-icon:hover {
    background: rgba(36, 36, 36, 0.8);
  }
}

/*  min-width: 1158px */

@media screen and (min-width: 1158px) {
  .nav-header {
    width: 265px;
  }
}
