/* .hero {
    
} */

.hero__icon {
    stroke-width: 4px;
    stroke: #242424;
    flex-shrink: 0;
    width: 38px;
    height: 38px  
}

.container__title {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-size: 40px;
    line-height: 1.2;             
    letter-spacing: -2%;
    margin-top: 80px;
    
      
}

.container__title-accent {
    font-family: 'Neue Montreal, italic';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;             
    letter-spacing: -2%; 
     
}

.container__text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;             
    letter-spacing: -2%;
    margin-top: 20px;

}

.hero__img-small {
        
    display: none;
    
}

.hero__img {
    
    border-radius: 30px;
    width: 100%;
    height: 450px;
    margin-top: 16px;
}


.hidden {
    display: none;
}

.tags__list {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.tags__list-item:not(:last-child) {
    margin-right: 6px;
  }

.tags__list-item {
    font-size: 14px;
    line-height: 1.29;  
    padding: 4px 16px;
    border: 1px solid #242424;
    border-radius: 30px;
    
}

@media screen and (min-width: 768px) {
    .hero__icon {
        stroke-width: 4px;
        stroke: #242424;
        flex-shrink: 0;
        width: 60px;
        height: 60px  
    }
    
    .container__title {
        min-width: 593px;
      
        font-size: 74px;
        line-height: 1;             
        letter-spacing: -2%;
        margin-top: 100px;
          
    }
    
    .container__title-accent {
        font-family: 'Neue Montreal, italic';
        font-style: italic;
        font-size: 74px;
        line-height: 1;             
        letter-spacing: -2%; 
         
    }
    
    .container__text {
        max-width: 528px;
        
        font-size: 18px;
        line-height: 1.33;             
        letter-spacing: -2%;
        margin-top: 20px;
    
    }
    
    .hero__img {
        border-radius: 30px;
        width: 704px;
        height: 550px;
        margin-top: 32px;
    }
    
    .tags__list {
        justify-content: flex-end;
       
    }
    .tags__list-item:not(:last-child) {
        margin-right: 8px;
      }
    
    .tags__list-item {
        
        font-size: 16px;
        line-height: 1.5;  
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid #242424;
        border-radius: 30px;
        margin-top: 16px;
    }
    }


@media screen and (min-width: 1440px) {

    .hero__img-small {
        position: absolute;
        top: 0px;
        right: 15px;
        border-radius: 20px;
        display: block;
        width: 168px;
        height: 100px;
    }

    .tags__list {
        position: absolute;
        top: 135px;
        right: 15px;
        max-width: 188px;
    }
    .hero__img {
        width: 1376px;
        height: 350px;
        border-radius: 60px;

    }

   
}