.hero {
  
    padding-top: 80px;
    
  }

.hero__icon {
    stroke-width: 4px;
    flex-shrink: 0;
    width: 38px;
    height: 38px  
} 

.container__title {
    /* display: inline-block; */
    position: relative;
    font-style: normal;
    font-size: 40px;
    line-height: 1.2;             
    letter-spacing: -0,8px;
   
}

.container__title-accent {
    font-family: 'Neue Montreal, italic';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;             
    letter-spacing: -0,8px; 
     
}

.container__text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;             
    letter-spacing: -0.28px;
    margin-top: 20px;

}

.hero__img-small {        
    display: none;
}

.hero__img {
    border-radius: 30px;
    width: 100%;
    height: 450px;
    margin-top: 16px;
}

.tags__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
     
    margin-top: 20px;
}

.tags__list-item {
    font-size: 14px;
    line-height: 1.29;  
    padding: 4px 13px;
    border: 1px solid #242424;
    border-radius: 30px;
    
}

@media screen and (min-width: 768px) {
.hero {
    padding-top: 100px;
}
.hero__icon {
    width: 60px;
    height: 60px  
}

.container__title {
    max-width: 593px;
    font-size: 74px;
    line-height: 1;             
    letter-spacing: -1.48px;      
}

.container__title-accent {
    font-family: 'Neue Montreal, italic';
    font-style: italic;
    font-size: 74px;
    line-height: 1;             
    letter-spacing: -1.48px;
        
}

.container__text {
    max-width: 528px;
    font-size: 18px;
    line-height: 1.33;             
    letter-spacing: -0.36px;
    margin-top: 20px;

}

.hero__img {
    border-radius: 30px;
    width: 704px;
    height: 550px;
    margin-top: 32px;
}


.tags__list {
    display: flex;
    justify-content: end;
    gap: 8px;
     
    margin-top: 20px;
    
}

.tags__list-item {
    font-size: 16px;
    line-height: 1.5;  
    padding: 4px 16px;
    border: 1px solid #242424;
    border-radius: 30px;
    margin-top: 16px;
}
}


@media screen and (min-width: 1440px) {
.hero {
    padding-top: 96px;
}    

.hero-container {
    position: relative;
}

.container__title {
    min-width: 593px;
    position: relative;        
}

.hero__img-small {
    position: absolute;
    top: 0px;
    right: 32px;
    border-radius: 20px;
    display: block;
    width: 168px;
    height: 100px;
    
}

.tags__list {
    position: absolute;
    top: 135px;
    right: 32px;
    max-width: 182px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    
}

.tags__list-item {
    margin: 0 auto;
}


.hero__img {
    width: 1376px;
    height: 350px;
    border-radius: 60px;

}

   
}