
.menu-toggle {
  display: flex;
 align-items: center;
 justify-content: center;
 margin: 0 0 0 auto;
 padding: 0;
 background-color: transparent;
 cursor: pointer;
 border: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.40);
  z-index: 5;
}

.mob-menu {
  width: 210px;
  height: 100%;
  padding: 200px 87px 40px;

  position: fixed;
  background-color: var(--primary-dark-color);
  z-index: 10;
  right: 0;
  top: 0;
  overflow: scroll;
  transform: translate(100%);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  transform: translate(0);
}

.mob-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 20px;
  right: 20px;
  /* margin: 0;
  padding: 0; */

  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--primary-dark-color);
}

.icon-close {
  width: 32px;
  height: 32px;
  stroke: var(--primary-light-color);
}

.mobil-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 14px;
  color: var(--primary-light-color);
}

.mob-social {
  display: flex;
  justify-content: center;
  gap: 12px;
}

 
.mob-icon:focus {
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
  background: var(--primary-light-color);
}

.soc-icon-mobil {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mob-social-icon {
  width: 28px;
  height: 28px;
  opacity: 80%;
  fill: var(--primary-light-color)
}


.mob-social-icon:focus {
  fill: var(--primary-dark-color);
  opacity: 80%;
}

.soc-icon-mobil:hover,
.soc-icon-mobil:focus {
  background: var(--primary-light-color);
  opacity: 80%;
}

