.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  width: 335px;
  border-radius: 20px;
  margin-top: 15%;
  position: absolute;
  background-color: #242424;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0%);
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gif-modal {
  width: 295px;
  height: 258px;
  display: block;
  margin-right: 2px;
  border: 1px solid #ccc;
  margin-top: 40px;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.modal-details-container {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.title-modal {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.modal-rating {
  color: aliceblue;
  font-size: 16px;
  margin-top: 10px;
}

.text-modal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.text-modal-container::after {
  content: '';
  display: block;
  width: 295px;
  height: 1px;
  background-color: rgba(244, 244, 244, 0.2);
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
}

.text-modal-container::before {
  content: '';
  display: block;
  width: 295px;
  height: 1px;
  background-color: rgba(244, 244, 244, 0.2);
  margin: 0 auto;
  margin-bottom: 8px;
}

.modal-text-style {
  color: rgba(244, 244, 244, 0.4);

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: column;
}

.modal-api-style {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  order: -1;
}

.text-modal {
  color: rgba(244, 244, 244, 0.6);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.container-button {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.button-favorites {
  width: 100%;
  height: 42px;
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background-color: #f4f4f4;
  white-space: nowrap;
}

.button-favorites:hover {
  background-color: #242424;
  border: 1px solid #f4f4f4;
}

.button-favorites:hover .button-name-favorites {
  color: #f4f4f4;
}

.description-modal {
  margin-bottom: 40px;
}

.button-name-favorites {
  color: #242424;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.button-rating-container {
  flex: 1;
}

.button-rating {
  width: 122px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  background-color: #242424;
  white-space: nowrap;
}

.button-rating:hover {
  background-color: #f4f4f4;
  color: #242424;
}

.button-rating:hover .button-name-rating {
  color: #242424;
}

.button-name-rating {
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.modal-rating-content {
  margin-top: 15%;
  width: 335px;
  height: 357px;
  border-radius: 20px;
  position: relative;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0%);
}

.modal-body {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.modal-body-rating {
  color: rgba(244, 244, 244, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.rating-container {
  display: flex;
}

.rating-container label {
  cursor: pointer;
}

.rating-container input[type='radio'] {
  display: none;
}

.rating-container label svg {
  width: 24px;
  height: 24px;
}

.selectedRat {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.form-group {
  text-align: center;
}

.form-group label,
.form-group input[type='radio'] {
  display: inline;
}

.form-email {
  margin-top: 20px;
  display: inline-flex;
  width: 295px;
  height: 42px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  background-color: #242424;
}

.form-comment {
  width: 295px;
  height: 93px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #f4f4f4;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #242424;
}

.button-send {
  display: flex;
  width: 295px;
  height: 42px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #f4f4f4;
}

.button-send:hover {
  background-color: #242424;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .modal {
  }

  .modal-content {
    width: 704px;
    height: auto;
    padding-bottom: 0px;
    display: flex;
  }

  .modal-info {
    display: flex;
  }

  .gif-modal {
    display: flex;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 0px;
    width: 270px;
    height: 259px;
  }

  .text-modal-container {
    gap: 16px;
  }

  .text-modal-container::after {
    content: '';
    display: block;
    width: 342px;
    height: 1px;
    background-color: rgba(244, 244, 244, 0.2);
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .text-modal-container::before {
    content: '';
    display: block;
    width: 342px;
    height: 1px;
    background-color: rgba(244, 244, 244, 0.2);
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .modal-text-style {
  }

  .modal-api-style {
  }

  .form-email:focus,
  .form-comment:focus {
    color: #242424;
    background-color: #f4f4f4;

    padding: 14px;

    box-sizing: border-box;
  }

  .modal-details-container {
    margin-left: 28px;
    margin-right: 32px;
    margin-top: 32px;
  }

  .container-button {
    margin-left: 32px;
    margin-bottom: 32px;
    margin-right: 32px;
    gap: 8px;
  }

  .button-rating {
    margin-right: 348px;
  }

  .modal-rating-content {
    width: 430px;
    height: 412px;
  }

  .close-button {
    top: 16px;
    right: 16px;
  }
  .form-email {
    padding: 14px;
    width: 350px;
    height: 48px;
    color: rgba(244, 244, 244, 0.6);

    font-family: Neue Montreal;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .form-comment {
    padding: 14px;
    width: 350px;
    height: 106px;
    color: rgba(244, 244, 244, 0.6);

    font-family: Neue Montreal;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .button-send {
    width: 350px;
    height: 48px;
  }
  .modal-body {
    margin: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
  }

  .modal-content {
    width: 708px;
  }

  .modal-rating-content {
  }

  .modal-details-container {
    margin-left: 32px;
  }
}
