/* Reset styles */
body {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left:20px;
  padding-right: 20px;
}
.section {
  padding-bottom: 80px;
}

@media screen and (min-width: 375px) {
.container {
  max-width: 375px;
  margin: 0 auto;
}
.section {
  padding-bottom: 80px;
  }
}

@media screen and (min-width: 768px){
  .container {
  max-width: 768px;
  padding-left: 32px;
  padding-right: 32px;
 }
  .section {
  padding-bottom:100px;}
}

@media screen and (min-width: 1280px){
 .container {
 max-width: 1280px;
 }  
 .section {
  padding-bottom: 124px;
  }
}
/* 


.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}



@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
} */