/* Reset styles */
body {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* .container {
  width: 100%;
} */


@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
