img {
  display: block;
  width: 100%;
}

.quote-section {
  padding-bottom: 80px;
}

.qoute-container {}

.quote-box {
  display: flex;
  gap: 18px;
  padding: 20px;
  background-color: var(--primary-dark-color);
  border-radius: 20px;
  margin-bottom: 20px;
}

.qoute-run-box {
  width: 34px;
  height: 32px;
  background-color: #f4f4f433;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-run-icon {
  fill: var(--primary-light-color);
}

.quotes-day-box {}

.quotes-day-title {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 6px;
}

.quotes-day-text {
  max-width: 233px;
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 16px;
}

.quotes-day-author {
  color: var(--primary-light-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.quote-icon-box {
  display: flex;
  gap: 70px;
  margin-bottom: 6px;

}

.qoute-item-icon {
  fill: var(--primary-light-color);
}

.quote-image-box {
  margin-bottom: 20px;
}

.quote-girls-picture {}

.quote-girls-img {
  border-radius: 20px;
  width: 335px;
  height: 251px;
}

.recommend-box {
  padding: 20px;
  display: flex;
  gap: 16px;
  background-color: white;
  border-radius: 20px;
}

.recommend-icon-box {}

.recommend-item-icon {
  fill: var(--primary-light-color);
  width: 32px;
  height: 32px;
  background-color: var(--primary-dark-color);
  border-radius: 50px;
  padding: 6px;
}

.recommend-text-box {
  display: flex;
  flex-direction: column;
}

.recommend-title {
  color: var(--primary-dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}

.recommend-text {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 16px;
}

.recommend-desc {
  color: var(--primary-dark-color);
  max-width: 245px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.285;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  transition: -webkit-line-clamp 1s ease-in;
}

.recommend-desc:hover {
  -webkit-line-clamp: unset;
}

@media screen and (min-width: 768px) {
  .quote-section {
    padding-bottom: 100px;
  }

  .qoute-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    /* width: calc((100% - 16px) / 2); */
  }

  .quote-box {
    width: 400px;
    padding: 40px;
  }

  .qoute-run-box {}

  .quote-icon-box {
    margin-bottom: 6px;
  }

  .quotes-day-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quotes-day-text {
    margin-bottom: 18px;
  }

  .quotes-day-author {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-image-box {}

  .quote-girls-img {
    width: 288px;
    height: 287px;
  }

  .recommend-box {
    width: 400px;
    padding: 40px;
  }

  .recommend-icon-box {
    margin-right: 16px;
  }

  .recommend-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 6px;
  }

  .recommend-text {
    width: 270px;
  }

  .recommend-desc {}
}

@media screen and (min-width: 1440px) {
  .quote-section {
    /* position: absolute;
    top: 0; */
  }

  .qoute-container {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .quote-box {
    width: 444px;
  }

  .quote-icon-box {
    gap: 108px;
  }

  .quotes-day-box {
    width: 314px;
  }

  .quotes-day-text {
    max-width: 314px;
  }

  .quotes-day-author {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-girls-img {
    width: 440px;
    height: 275px;
  }

  .recommend-box {
    width: 444px;
    gap: 18px;
  }

  .recommend-icon-box {
    margin-right: 0;
  }

  .recommend-desc {
    max-width: 314px;
    overflow: unset;
    /* -webkit-line-clamp: 5; */
    -webkit-box-orient: unset;
    text-overflow: unset;
  }
}