/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./side-bar.css');
@import url('./gallery.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./mobile-menu.css');
@import url('./scroll-up-button.css');


@font-face {
  font-family: 'Neue Montreal';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Neue Montreal'),
    url(../fonts/NeueMontreal-Regular.woff2) format(woff2),
    url(../fonts/NeueMontreal-Regular.woff) format(woff),
    url(../fonts/NeueMontreal-Regular.ttf) format(ttf);
}

@font-face {
  font-family: 'Neue Montreal';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Neue Montreal'),
    url(../fonts/NeueMontreal-Medium.woff2) format(woff2),
    url(../fonts/NeueMontreal-Medium.woff) format(woff),
    url(../fonts/NeueMontreal-Medium.ttf) format(ttf);
}

@font-face {
  font-family: 'Neue Montreal';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Neue Montreal'),
    url(../fonts/NeueMontreal-Italic.woff2) format(woff2),
    url(../fonts/NeueMontreal-Italic.woff) format(woff),
    url(../fonts/NeueMontreal-Italic.ttf) format(ttf);
}

:root {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #F4F4F4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Колір тексту, іконок, лого, бекграунд футера */
  --primary-dark-color: #242424;
  /* Колір бекграунду і світлих елементів */
  --primary-light-color: #F4F4F4;
} 

